// "Direct Inlining of SVG" page.

.svg-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(19rem, 1fr));
    grid-gap: 1rem;
    cursor: pointer;
    margin-bottom: 1rem;

    .card {
        background: $card-color;
        
        .info {
            padding: 1rem;
            text-align: center;
        }
    
        img, svg {
            width: 100%;
            
            // Add this line if you want SVGs and IMGs
            // to sit exactly on the bottom of the enclosing div
            // if there are no different-height divs in the same row.         
            display: block;
            
            // Add this line for bottom padding if you want to mask the
            // fact that some images won't sit on the bottom
            // of the enclosing div if there are different-height divs 
            // in the same row, so make them all have some space on
            // the bottom.
            // padding-bottom: 1rem;
            
            transition: transform 0.25s;
            
            &:hover {
                transform: scale(1.05);
            }
        }
        
        .desc {
            color: $desktop-text;
            margin-bottom: 0;
        }
    }
}

// End of "Direct Inlining of SVG" page