html {
    box-sizing: border-box;
    font-size: 100%;
}    

*, *:before, *:after {
    box-sizing: inherit;
}

body, html {
    height: 100%;
}

body {  // body consists of header, main, footer
    margin: 1rem;
    font-family: 'Roboto';
    line-height: 1.5;
    font-size: 16px;
    margin-bottom: 1.5rem;
    color: $desktop-text;
    // background: $desktop-background url($background-pattern);
    // background-size: 4%;
    background: $desktop-background;    // color only, no pattern
}

H1, H2, H3 {
    margin: 0;
}

.info {
    text-align: left;
}

.media-break {
    @media screen and (max-width: 800px) and (orientation: portrait) {
        display: table;
    }
}

._bullet {
    color: green;
    font-size: 80%;
    padding-right: 1rem;   
}
