html {
    box-sizing: border-box;
    font-size: 100%;
}    

// every element in the site to inherit above property from html
*, *:before, *:after {
    box-sizing: inherit;
}    

body { // body consists of header, main, footer
    padding: 20px;
    color: $desktop-text;
    background: $desktop-background url($background-pattern);
    background-size: 4%;
    font-family: 'Roboto', sans-serif;
    line-height: 1.3;
}

main {
    background-color: #ffffff;
}

.section-title {
    color: rgba(0,0,0,1);
    font-size: 4rem;
    font-weight: bold;
}

#foo {   //test of Autoprefixer
    display: flex;
}

// another test of autoprefixer (this one for bug-fixes of CSS3 marquee
.example1 {
    height: 50px;	
    overflow: hidden;
    position: relative;
}
.example1 h3 {
    font-size: 3em;
    color: limegreen;
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    line-height: 50px;
    text-align: center;
    /* Starting position */
    transform:translateX(100%);
    /* Apply animation to this element */	
    animation: example1 15s linear infinite;
}
/* Move it (define the animation) */
@keyframes example1 {
    0%   { 
    transform: translateX(100%); 		
    }
    100% { 
    transform: translateX(-100%); 
    }
}