html {
    box-sizing: border-box;
    font-size: 100%;
}    

*, *:before, *:after {
    box-sizing: inherit;
}

body, html {
    height: 100%;
}

body {  // body consists of header, main, footer
    margin: 1rem;
    font-family: 'Montserrat';
    line-height: 1.5;
    color: $desktop-text;
    // background: $desktop-background url($background-pattern);
    // background-size: 4%;
    background: $desktop-background;    // color only, no pattern
}

H1, H2, H3 {    // To avoid ragged-looking left-alignment when text is wrapped.
    @media screen and (max-width: 800px) and (orientation: portrait) {
        text-align: center;
    }
    margin:0;
}
