// My Color Definitions

$bluish-green: #22806f;
$burnt-orange: #ff8a00;
$dark-charcoal: #444444;
$ghostly-white: #ffffff80;
$light-wheat: #fff2cf;
$mauve: #ae65b8;
$palest-wheat: #fefaf1;
$purple-grape: #831292;
$very-light-grey: #e8e8e8;

// Color Assignments

$desktop-text: $dark-charcoal;
$desktop-background: $palest-wheat;
$card-color: $very-light-grey;
$cell-color: $light-wheat;
$icon-color: $bluish-green;


// RGB Color Definitions (48)           3           3           6           12           24

$red:                   #ff0000;
$scarlet:               #ff1f00;                                                    // quinary
$vermillion:            #ff3f00;                                    // quarternary
$safety-orange:         #ff5f00;                                                    // quinary
$orange:                #ff7f00;                        // tertiary
$orange-peel:           #ff9f00;                                                    // quinary
$amber:                 #ffbf00;                                    // quarternary  
$golden-yellow:         #ffdf00;                                                    // quinary
$yellow:                #ffff00;        // secondary
$neon-yellow:           #dfff00;                                                    // quinary
$lime:                  #bfff00;                                    // quarternary
$spring-bud:            #9fff00;                                                    // quinary
$chartreuse:            #7fff00;                        // tertiary
$bright-green:          #5fff00;                                                    // quinary
$harlequin:             #3fff00;                                    // quarternary
$greenish-harlequin:    #1fff00;                                                    // quinary
$green:                 #00ff00; // primary
$free-speech-green:     #00ff1f;                                                    // quinary
$erin:                  #00ff3f;                                    // quarternary
$irish-spring-green:    #00ff5f;                                                    // quinary
$spring-green:          #00ff7f;                        // tertiary
$spring-aquamarine:     #00ff9f;                                                    // quinary
$aquamarine:            #00ffbf;                                    // quarternary
$spring-cyan:           #00ffdf;                                                    // quinary
$cyan:                  #00ffff;        // secondary
$cyanish-capri:         #00dfff;                                                    // quinary
$capri:                 #00bfff;                                    // quarternary
$azurish-capri:         #009fff;                                                    // quinary
$azure:                 #007fff;                        // tertiary
$cerulean-azure:        #005fff;                                                    // quinary
$cerulean:              #003fff;                                    // quarternary
$bluish-cerulean:       #001fff;                                                    // quinary
$blue:                  #0000ff; // primary
$bluish-ultramarine:    #1f00ff;                                                    // quinary
$ultramarine:           #3f00ff;                                    // quarternary
$electric-indigo:       #5f00ff;                                                    // quinary
$violet:                #7f00ff;                        // tertiary
$electric-purple:       #9f00ff;                                                    // quinary
$purple:                #bf00ff;                                    // quarternary
$psychedelic-purple:    #df00ff;                                                    // quinary
$magenta:               #ff00ff;        // secondary
$hot-magenta:           #ff00df;                                                    // quinary
$cerise:                #ff00bf;                                    // quarternary
$hollywood-cerise:      #ff009f;                                                    // quinary
$rose:                  #ff007f;                        // tertiary
$razzmatazz:            #ff005f;                                                    // quinary
$crimson:               #ff003f;                                    // quarternary
$torch-red:             #ff001f;                                                    // quinary