$desktop-text: #222222;                         // "dark charcoal"
// $desktop-text: rgba(255, 255, 255, 0.50);       // "ghostly white"
$desktop-background: #fefaf1;                   // "palest wheat"
// $desktop-background: rgb(131, 18, 146);         // "purple grape"
$cell-color: #fff2cf                            // "light wheat"
